/**
PEARSON PROPRIETARY AND CONFIDENTIAL INFORMATION SUBJECT TO NDA
 *  Copyright © 2017 Pearson Education, Inc.
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Pearson Education, Inc.  The intellectual and technical concepts contained
 * herein are proprietary to Pearson Education, Inc. and may be covered by U.S. and Foreign Patents,
 * patent applications, and are protected by trade secret or copyright law.
 * Dissemination of this information, reproduction of this material, and copying or distribution of this software
 * is strictly forbidden unless prior written permission is obtained
 * from Pearson Education, Inc.
**/

ul.o-bookmark-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Open Sans;
  position: relative;
  overflow: hidden;
  color: #716b7a;
  li {
    font-weight: normal;
    position: relative;
    border-bottom: 1px solid #ddd;
    &.o-bookmark-section {
      > .remove {
        visibility: hidden;
      }
      &:hover {
        background: #EDF8FF;
        }
    }
    &.focused {
      > .remove {
        @include showDeleteIcon;
      }
    }
    .remove {
      visibility: hidden;
      position: absolute;
      right: 25px;
      width: 18px;
      height: 18px;
      text-decoration: none;
      bottom: 20px;
      background: transparent url(./images/ic-trash.svg) 0 0 no-repeat;
    }
    .remove:hover,
    .remove:focus {
      @include showDeleteIcon;
       opacity: 0.6;
    }
    a.o-bookmark-content {
      width: 100%;
      height: 99.9%;
      display: block;
      padding: 20px 60px 20px 25px;
      font-size: 16px;
      font-weight: bold;
      color: #000000;
      display: inline-block;
      word-wrap: break-word;
      text-decoration: none;
      &:hover {
        background: #EDF8FF;
        + .remove {
          @include showDeleteIcon;
        }
      }
      &:focus {
        background: #EDF8FF;
      }
      &:hover:focus {
        outline: -webkit-focus-ring-color auto 5px;
      }
      @-moz-document url-prefix() {
        &:focus:hover {
          outline:1px dotted #000;
        }
      }
      .o-bookmark-date {
        margin-top: 12px;
        color: #868686;
        font-size: 12px;
        font-weight: normal;
      }
    }
  }
}

.o-bookmark-empty-help{
  height: 100%;
  width: 100%;
  display: table;
  padding: 0 20px;
  box-sizing: border-box;
  .o-bookmark-empty-message{
    text-align: center;
    display: table-cell;
    float: none;
    color: #4C5259;
    font-size: 26px;
    font-weight: 200;
    line-height: 20px;
    padding-top: 30px;
  }
}
button.deleteBtn {
  width: 140px;
}
button.deleteBtn div{
  background-color: rgb(52, 182, 180) !important;
  color: #fff;
  height: 36px; 
}
button.cancelBtn div span,button.deleteBtn div span{
  text-transform: none !important;
  font-weight: normal !important;
  font-size: 18px !important;
  font-family: Open Sans !important;
}
button.deleteBtn div span{
  padding: 0 !important
}
.cancelBtn div{
  color: #74797b;
  background-color: #fff !important;
}
.cancelBtn:focus, .deleteBtn:focus{
  outline: 1px dotted #212121 !important;
  outline: 5px auto -webkit-focus-ring-color !important;
}

